@font-face {
	font-family: 'JuanCock';
	src: url('./JuanCock.woff') format('woff');
	font-weight: normal;
}

/* temporarily just the normal Proxima Nova font with weights and italic variants that are free*/
@font-face {
	font-family: 'Proxima Nova';
	src: url('./proximanova_light.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('./proximanova_regular.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('./proximanova_bold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('./proximanova_boldit.otf') format('opentype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('./proximanova_black.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('./proximanova_blackit.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('./proximanova_extrabold.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
}